.settings__item ~ .settings__item {
    margin-top: 15px;
}

.modal-footer {
    justify-content: center;
}

.settings__help {
    width: 28px;
    height: 28px;

    box-sizing: border-box;

    padding: 5px;
    padding-left: 3px;

    margin-top: -1px;

    opacity: .4;

    &:hover {
        opacity: .9;
        cursor: pointer;
    }
}

.tooltip-inner {
    font-size: 13px;
    font-family: 'Comfortaa', cursive;

    max-width: 270px;
}
