body {
    background: url('../Images/bg.png');

    height: auto;
    
    -webkit-overflow-scrolling: touch;

    font-family: 'Comfortaa', cursive;
}

body,
.page {
    /* фолбэк для браузеров, которые не поддерживают пользовательские свойства */
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

.page {
    margin: 0 auto;
    max-width: 800px;
    padding: 15px 10px;

    padding-bottom: 40px;

    &__form {
        display: flex;
        align-items: center;
     
        justify-content: center;
    }
}
